= form_for @career do |f|
  -if @career.errors.any?
    #error_explanation
      %h2= "#{pluralize(@career.errors.count, "error")} prohibited this career from being saved:"
      %ul
        - @career.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :area_id
    = f.number_field :area_id
  .actions
    = f.submit 'Save'
