%p.hero
  Encuentra las practicas empresariales
  %br
  de tus sueños!
#search
  .wrapper
    .wrapper
      = form_tag search_path, method: :post do
        %label Yo sé
        = text_field_tag :skills, '', :class => "first text"
        %label.middle_label Yo quiero aprender
        = text_field_tag :wanted_skills, '', :class => "second text"
        = submit_tag "", :class => "search"
.visitanos
  Visítanos en
  .icons
    = link_to image_tag('/assets/fb.png'), 'https://www.facebook.com/Practicantes', target: '_blank'
    
    = link_to image_tag('/assets/tw.png'), 'https://twitter.com/PracticantesCO', target: '_blank'