%h2 Search form 

- content_for :javascript do  
  = javascript_include_tag "/chosen/chosen.jquery.min"
  = stylesheet_link_tag "/chosen/chosen"

= form_tag url: search_path, method: :post do |f|
  
  Yo sé
  = text_field_tag :skills

  Yo quiero aprender
  = text_field_tag :wanted_skills

  = link_to "Búsqueda Avanzada", "javascript:toggleAdvanced()"
  
  #advanced_search{style: "display:none"}
    %div
      %strong Remuneración?
      %br
      = radio_button_tag :payment, 'si'
      Si 
      = radio_button_tag :payment, 'no'
      No 
      = radio_button_tag :payment, '', :checked
      No importa 

    %div
      %strong Jornada
      %br
      - ['medio tiempo', 'tiempo completo'].each do |time|
        = radio_button_tag :worktime, time
        = time.humanize

    %div
      %strong Ciudad
      %br
      = select_tag :city_id_equals, options_from_collection_for_select(City.find(:all), :id, :name), {include_blank: true}
    %div
      %strong Perfil Profesional
      %br
      = select_tag :profile_id_in, options_from_collection_for_select(Profile.find(:all), :id, :name), {include_blank: true, multiple: true}

  %div
    = submit_tag 'Buscar'