= form_for @offer do |f|
  -if @offer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@offer.errors.count, "error")} prohibited this offer from being saved:"
      %ul
        - @offer.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label "Perfil Profesional"
    = select_tag :profile_ids, options_from_collection_for_select(Profile.find(:all), :id, :name), {include_blank: true, multiple: true}
  .field
    = f.label "Qué debe saber?"
    = text_area_tag :skills
  .field
    = f.label "Qué va a aprender?"
    = text_area_tag :wanted_skills
  .field
    = f.label "Ciudad"
    = select :city ,:city_id, @cities, include_blank: "-"
  .field
    = f.label "Titulo de la Oferta (Opcional)"
    = f.text_field :name
  .field
    = f.label "Descripción (Opcional)"
    = f.text_area :description, rows: 3
  
  .actions
    = f.submit 'Guardar', :class => "btn btn-primary"
