= form_for @empresa do |f|
  -if @empresa.errors.any?
    #error_explanation
      %h2= "#{pluralize(@empresa.errors.count, "error")} prohibited this empresa from being saved:"
      %ul
        - @empresa.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nombre
    = f.text_field :nombre
  .field
    = f.label :nit
    = f.number_field :nit
  .field
    = f.label :telefono
    = f.number_field :telefono
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :nombre_contacto
    = f.text_field :nombre_contacto
  .actions
    = f.submit 'Save'
