%h1 Listing empresas

%table
  %tr
    %th Nombre
    %th Nit
    %th Telefono
    %th Email
    %th Url
    %th Nombre contacto
    %th
    %th
    %th

  - @empresas.each do |empresa|
    %tr
      %td= empresa.nombre
      %td= empresa.nit
      %td= empresa.telefono
      %td= empresa.email
      %td= empresa.url
      %td= empresa.nombre_contacto
      %td= link_to 'Show', empresa
      %td= link_to 'Edit', edit_empresa_path(empresa)
      %td= link_to 'Destroy', empresa, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Empresa', new_empresa_path
