%p#notice= notice

%p
  %b Nombre:
  = @empresa.nombre
%p
  %b Nit:
  = @empresa.nit
%p
  %b Telefono:
  = @empresa.telefono
%p
  %b Email:
  = @empresa.email
%p
  %b Url:
  = @empresa.url
%p
  %b Nombre contacto:
  = @empresa.nombre_contacto

= link_to 'Edit', edit_empresa_path(@empresa)
\|
= link_to 'Back', empresas_path
